---
layout: default
---

<header class="intro visually-hidden">
  <h1>{{ site.title }}</h1>
  <p class="lede">{{ site.description | strip_newlines }}</p>
</header>

<h2 class="index-heading visually-hidden">posts</h2>

<ul class="post-list">
  {% for post in site.posts %}
  <li>
    <time datetime="{{ post.date | date_to_xmlschema }}">{{ post.date | date: "%Y-%m-%d" }}</time>
    <a href="{{ post.url | relative_url }}">{{ post.title | escape }}</a>
    {% if site.show_excerpts %}
    <p class="excerpt">{{ post.excerpt | strip_html | truncatewords: 30 }}</p>
    {% endif %}
  </li>
  {% endfor %}
</ul>
