--- 
layout: default 
---

<div id="content">

    {% if site.paginate %} {% assign posts = paginator.posts %} {% else %} {% assign posts = site.posts %} {% endif %}

        {% for post in posts %}


            <h1 class="mt-1 mb-3 h3">
                <a href="{{ post.url | relative_url }}">{{ post.title | escape }}</a>
            </h1>
            <p class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</div>

            <div class="text-justify">
                {{ post.excerpt }}
            </div>
           

        {% endfor %}


    {% if site.paginate %}


        <nav class="py-1" aria-label="Blog page navigation">
            {% if paginator.previous_page %}
            <a href="{{ paginator.previous_page_path | relative_url }}">&laquo; Previous</a> {% endif %} Page: {{ paginator.page }} of {{ paginator.total_pages }} {% if paginator.next_page %}
            <a href="{{ paginator.next_page_path | relative_url }}">Next &raquo;</a> {% endif %}
        </nav>

    
    {% endif %} 

</div>